@media only screen and (min-width:992px) and (max-width:1300px){
	.header-logo-abs{left: 75px;right: auto;}
}

@media only screen and (max-width:1200px){
    .content-main{padding: 30px 0;}
    .detail-box-warp .box-col{padding: 0 5px;}
    .card-ind .field-box h3{font-size: 15px;}
    .card-ind .field-box p{font-size: 15px;}
    .detail-box-warp .app-box-setting .setting-ind{padding: 0 5px;}
    .detail-box-warp .app-box-setting .setting-ind label{font-size: 14px;padding-left: 34px;padding-bottom: 7px;}
    .detail-box-warp .payment-list-options .payment-list-ind label{padding-bottom: 7px;font-size: 15px;padding-left: 35px;}
    .detail-box-warp .box-col{margin-bottom: 10px;}
}

@media only screen and (max-width:991px){
    .header-main{padding: 10px 15px;}
    .header-logo-abs{position: static;float: left;width: 100%;text-align: center;max-width:1000px;padding-bottom: 12px;}
    .header-main .header-links{border-left: 0;}
    .header-logo-main .logo{float: none;display: inline-block;}
    .header-main .menu{margin-top: 24px;}

    .detail-box-warp .box-col{width: 100% !important;padding: 0;}
}

@media only screen and (max-width:767px){
    .header-main .header-links > li > span.user-profile-pic img{max-width: 45px;}
    .header-main .menu{margin-top: 12px;}
    .header-main .header-top{margin-top: 10px;}
}

@media only screen and (max-width:479px){
    .header-logo-main .logo{padding-left: 60px;}
    .header-logo-main h1 > img{max-width: 55px;}
    .header-logo-main h1{font-size: 20px;}
    .header-main .menu{margin-top: 7px;}
    .header-main{padding: 10px 5px;}
    .header-main .header-links > li > span.user-profile-pic img{max-width: 35px;}
    span.user-profile-pic img{max-width: 34px;}
    .header-main .header-links > li{padding: 0 4px;}
    .header-main .header-links > li > span > img{max-width: 23px;}

    .detail-box-warp .app-box-col .app-box-field{width: 100%;}
    .detail-box-warp .app-box-setting .setting-ind{width: 100%;padding: 0;margin-bottom: 15px;}
    .permit-box-field.field-box{width: 100%;padding: 0;}
    .schedule-calender-box-ind{width: 100%;margin-bottom: 20px;}
    .card-ind-content.schedule-test-box .communication-list > li{width: 100%;padding: 0;margin-bottom: 20px;}
}